.class {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: gray;
}

.gamePad {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 90%;
    background-color: darkgray;
}

.playerPad {
    display: flex;
    flex-direction: column;
    height: 50%;
    border: solid 2px;
}

.playerHand {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    background-color: aquamarine;
}

.playerActiveCard {
    height: 40%;
    width: 100%;
    background-color:aqua;
}

.playerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    width: 17%;
    margin: 6px auto;
    background-color: white;
    border: solid 6px;
    border-radius: 4px;
}

.faceCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    width: 17%;
    margin: 6px auto;
    background-color: rgb(1, 1, 125);
    border: solid 6px rgb(207, 136, 2);
    border-radius: 4px;
    color: white;
    text-align: center;
}

.playerInfo {
    height: 20%;
    background-color: cadetblue;
}

.turnedCardImg {
    max-width: 80%;
    margin: 0 auto;
}

.cardImg {
    width: 90%;
    height: 60%;
    background-color: white;
    color: black;
    margin: 0 auto
}